{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "components": "./src/components",
          "database": "./src/database",
          "pages": "./src/pages",
          "services": "./src/services",
          "redux-folder": "./src/redux"
        }
      }
    ]
  ]
}
